.div1{
    height: 60px;
    width: 60px;
    border: 2px solid black;
}
.div2{
    height: 60px;
    width: 60px;
    border: 2px solid black;
    margin-left:63px ;
}
.div3{
    height: 60px;
    width: 60px;
    border: 2px solid black;
    margin-left:126px ;  
}