.container{
    background-image: url(https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1100&q=80);background-repeat: no-repeat;width: 1200px;
}
.div1{
    height: 640px;
    width: 1100px;
    background-color: rgba(0,0,0, 0.8);

}
.div2{
    display:inline;
    color: white;
    font-size: x-large;
}
.div3{
    align-items: right;
}
li{
    display: inline;
    color: white;
}
.div2{
    float: left;
}
.div3{
    float: right;
    word-spacing: 20px;
    position: relative;
    left: -20px;
}
.div3 li a{
    text-decoration: none;
}
.div3 li a:hover{
 text-decoration: underline;
 font-size: larger;
 color: white;
}
.roundbut{
  color: white;
  width: 120px;
  height: 25px;
  border-radius: 20px;
  padding-top: 10px;
  display: inline-block;
  border: 1px solid aquamarine;
}
.top div:hover{
  background-color: aquamarine;
}
a{
    color: white;
}